function BigSquare.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push argument 3
pop this 3
push pointer 0
return
function BigSquare.getSquare1 0
push argument 0
pop pointer 0
push this 0
return
function BigSquare.getSquare2 0
push argument 0
pop pointer 0
push this 1
return
function BigSquare.getSquare3 0
push argument 0
pop pointer 0
push this 2
return
function BigSquare.getSquare4 0
push argument 0
pop pointer 0
push this 3
return
function BigSquare.printBigSquare 0
push argument 0
pop pointer 0
push this 0
call BasedSquare.printSquare 1
pop temp 0
push this 1
call BasedSquare.printSquare 1
pop temp 0
push this 2
call BasedSquare.printSquare 1
pop temp 0
push this 3
call BasedSquare.printSquare 1
pop temp 0
push constant 0
return
