function Game.Game 5
push argument 0
pop pointer 0
call GameField.new 0
pop local 0
push constant 100
pop local 2
label WHILE_EXP0
push local 2
push constant 0
gt
not
if-goto WHILE_END0
push constant 180
push constant 16
call RandomizeFigure.MakeFigure 2
pop temp 0
push local 0
call GameField.getArray12 1
pop local 4
push constant 10
pop local 3
label WHILE_EXP1
push local 3
push constant 0
gt
not
if-goto WHILE_END1
push local 3
push constant 1
sub
push local 4
add
pop pointer 1
push that 0
push constant 0
gt
push local 3
push constant 1
sub
push local 4
add
pop pointer 1
push that 0
push constant 0
eq
or
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 100
push constant 0
push constant 259
push constant 223
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call Game.Game 1
pop temp 0
label IF_FALSE0
push local 3
push constant 1
sub
pop local 3
goto WHILE_EXP1
label WHILE_END1
push local 0
call GameField.Update 1
pop temp 0
push local 0
call GameField.Shift 1
pop temp 0
push local 0
call GameField.PrintField 1
pop temp 0
push local 2
push constant 1
sub
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
