function LineWithSquare.new 5
push constant 6
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
call Position.new 0
pop local 0
push argument 0
push argument 1
call BasedSquare.new 2
pop local 1
push argument 0
push constant 16
add
push argument 1
call BasedSquare.new 2
pop local 2
push argument 0
push constant 32
add
push argument 1
call BasedSquare.new 2
pop local 3
push argument 0
push constant 16
add
push argument 1
push constant 16
sub
call BasedSquare.new 2
pop local 4
push local 1
pop this 2
push local 2
pop this 3
push local 3
pop this 4
push local 4
pop this 5
push local 0
pop this 1
push pointer 0
call LineWithSquare.printLineWithSquare 1
pop temp 0
push pointer 0
call LineWithSquare.fall 1
pop temp 0
push pointer 0
return
function LineWithSquare.getSquare1 0
push argument 0
pop pointer 0
push this 2
return
function LineWithSquare.getSquare2 0
push argument 0
pop pointer 0
push this 3
return
function LineWithSquare.getSquare3 0
push argument 0
pop pointer 0
push this 4
return
function LineWithSquare.getSquare4 0
push argument 0
pop pointer 0
push this 5
return
function LineWithSquare.TurnRightLineWithSquare 0
push argument 0
pop pointer 0
push this 1
call Position.GetPosition 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call LineWithSquare.Clear 1
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 2
push this 2
call BasedSquare.getSquareX 1
push constant 16
add
push this 2
call BasedSquare.getSquareY 1
push constant 16
add
call BasedSquare.setSquare 3
pop temp 0
push this 3
push this 3
call BasedSquare.getSquareX 1
push this 3
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
push this 4
push this 4
call BasedSquare.getSquareX 1
push this 4
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
push this 5
push this 5
call BasedSquare.getSquareX 1
push this 5
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
push pointer 0
call LineWithSquare.CanDrawFigure 1
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 2
push this 2
call BasedSquare.getSquareX 1
push constant 16
sub
push this 2
call BasedSquare.getSquareY 1
push constant 16
sub
call BasedSquare.setSquare 3
pop temp 0
push this 3
push this 3
call BasedSquare.getSquareX 1
push this 3
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
push this 4
push this 4
call BasedSquare.getSquareX 1
push this 4
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
push this 5
push this 5
call BasedSquare.getSquareX 1
push this 5
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
label IF_FALSE1
label IF_FALSE0
push this 1
call Position.GetPosition 1
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call LineWithSquare.Clear 1
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 2
push this 2
call BasedSquare.getSquareX 1
push this 2
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
push this 3
push this 3
call BasedSquare.getSquareX 1
push this 3
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
push this 4
push this 4
call BasedSquare.getSquareX 1
push this 4
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
push this 5
push this 5
call BasedSquare.getSquareX 1
push constant 16
sub
push this 5
call BasedSquare.getSquareY 1
push constant 16
add
call BasedSquare.setSquare 3
pop temp 0
push pointer 0
call LineWithSquare.CanDrawFigure 1
push constant 0
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 2
push this 2
call BasedSquare.getSquareX 1
push this 2
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
push this 3
push this 3
call BasedSquare.getSquareX 1
push this 3
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
push this 4
push this 4
call BasedSquare.getSquareX 1
push this 4
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
push this 5
push this 5
call BasedSquare.getSquareX 1
push constant 16
add
push this 5
call BasedSquare.getSquareY 1
push constant 16
sub
call BasedSquare.setSquare 3
pop temp 0
label IF_FALSE3
label IF_FALSE2
push this 1
call Position.GetPosition 1
push constant 3
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
call LineWithSquare.Clear 1
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 2
push this 2
call BasedSquare.getSquareX 1
push this 2
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
push this 3
push this 3
call BasedSquare.getSquareX 1
push this 3
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
push this 4
push this 4
call BasedSquare.getSquareX 1
push constant 16
sub
push this 4
call BasedSquare.getSquareY 1
push constant 16
sub
call BasedSquare.setSquare 3
pop temp 0
push this 5
push this 5
call BasedSquare.getSquareX 1
push this 5
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
push pointer 0
call LineWithSquare.CanDrawFigure 1
push constant 0
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 2
push this 2
call BasedSquare.getSquareX 1
push this 2
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
push this 3
push this 3
call BasedSquare.getSquareX 1
push this 3
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
push this 4
push this 4
call BasedSquare.getSquareX 1
push constant 16
add
push this 4
call BasedSquare.getSquareY 1
push constant 16
sub
call BasedSquare.setSquare 3
pop temp 0
push this 5
push this 5
call BasedSquare.getSquareX 1
push this 5
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
label IF_FALSE5
label IF_FALSE4
push this 1
call Position.GetPosition 1
push constant 0
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
call LineWithSquare.Clear 1
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 2
push this 2
call BasedSquare.getSquareX 1
push constant 16
sub
push this 2
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
push this 3
push this 3
call BasedSquare.getSquareX 1
push this 3
call BasedSquare.getSquareY 1
push constant 16
add
call BasedSquare.setSquare 3
pop temp 0
push this 4
push this 4
call BasedSquare.getSquareX 1
push constant 16
add
push this 4
call BasedSquare.getSquareY 1
push constant 32
add
call BasedSquare.setSquare 3
pop temp 0
push this 5
push this 5
call BasedSquare.getSquareX 1
push constant 16
add
push this 5
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
push pointer 0
call LineWithSquare.CanDrawFigure 1
push constant 0
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 2
push this 2
call BasedSquare.getSquareX 1
push constant 16
add
push this 2
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
push this 3
push this 3
call BasedSquare.getSquareX 1
push this 3
call BasedSquare.getSquareY 1
push constant 16
sub
call BasedSquare.setSquare 3
pop temp 0
push this 4
push this 4
call BasedSquare.getSquareX 1
push constant 16
sub
push this 4
call BasedSquare.getSquareY 1
push constant 32
sub
call BasedSquare.setSquare 3
pop temp 0
push this 5
push this 5
call BasedSquare.getSquareX 1
push constant 16
sub
push this 5
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
label IF_FALSE7
label IF_FALSE6
push pointer 0
call LineWithSquare.printLineWithSquare 1
pop temp 0
push constant 0
return
function LineWithSquare.TurnLeftLineWithSquare 0
push argument 0
pop pointer 0
push this 1
call Position.GetPosition 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call LineWithSquare.Clear 1
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 2
push this 2
call BasedSquare.getSquareX 1
push this 2
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
push this 3
push this 3
call BasedSquare.getSquareX 1
push this 3
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
push this 4
push this 4
call BasedSquare.getSquareX 1
push this 4
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
push this 5
push this 5
call BasedSquare.getSquareX 1
push constant 16
add
push this 5
call BasedSquare.getSquareY 1
push constant 16
sub
call BasedSquare.setSquare 3
pop temp 0
push pointer 0
call LineWithSquare.CanDrawFigure 1
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 2
push this 2
call BasedSquare.getSquareX 1
push this 2
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
push this 3
push this 3
call BasedSquare.getSquareX 1
push this 3
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
push this 4
push this 4
call BasedSquare.getSquareX 1
push this 4
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
push this 5
push this 5
call BasedSquare.getSquareX 1
push constant 16
sub
push this 5
call BasedSquare.getSquareY 1
push constant 16
add
call BasedSquare.setSquare 3
pop temp 0
label IF_FALSE1
label IF_FALSE0
push this 1
call Position.GetPosition 1
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call LineWithSquare.Clear 1
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 2
push this 2
call BasedSquare.getSquareX 1
push this 2
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
push this 3
push this 3
call BasedSquare.getSquareX 1
push this 3
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
push this 4
push this 4
call BasedSquare.getSquareX 1
push constant 16
add
push this 4
call BasedSquare.getSquareY 1
push constant 16
add
call BasedSquare.setSquare 3
pop temp 0
push this 5
push this 5
call BasedSquare.getSquareX 1
push this 5
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
push pointer 0
call LineWithSquare.CanDrawFigure 1
push constant 0
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 2
push this 2
call BasedSquare.getSquareX 1
push this 2
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
push this 3
push this 3
call BasedSquare.getSquareX 1
push this 3
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
push this 4
push this 4
call BasedSquare.getSquareX 1
push constant 16
sub
push this 4
call BasedSquare.getSquareY 1
push constant 16
sub
call BasedSquare.setSquare 3
pop temp 0
push this 5
push this 5
call BasedSquare.getSquareX 1
push this 5
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
label IF_FALSE3
label IF_FALSE2
push this 1
call Position.GetPosition 1
push constant 3
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
call LineWithSquare.Clear 1
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 2
push this 2
call BasedSquare.getSquareX 1
push constant 16
add
push this 2
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
push this 3
push this 3
call BasedSquare.getSquareX 1
push this 3
call BasedSquare.getSquareY 1
push constant 16
sub
call BasedSquare.setSquare 3
pop temp 0
push this 4
push this 4
call BasedSquare.getSquareX 1
push constant 16
sub
push this 4
call BasedSquare.getSquareY 1
push constant 32
sub
call BasedSquare.setSquare 3
pop temp 0
push this 5
push this 5
call BasedSquare.getSquareX 1
push constant 16
sub
push this 5
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
push pointer 0
call LineWithSquare.CanDrawFigure 1
push constant 0
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 2
push this 2
call BasedSquare.getSquareX 1
push constant 16
sub
push this 2
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
push this 3
push this 3
call BasedSquare.getSquareX 1
push this 3
call BasedSquare.getSquareY 1
push constant 16
add
call BasedSquare.setSquare 3
pop temp 0
push this 4
push this 4
call BasedSquare.getSquareX 1
push constant 16
add
push this 4
call BasedSquare.getSquareY 1
push constant 32
add
call BasedSquare.setSquare 3
pop temp 0
push this 5
push this 5
call BasedSquare.getSquareX 1
push constant 16
add
push this 5
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
label IF_FALSE5
label IF_FALSE4
push this 1
call Position.GetPosition 1
push constant 0
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
call LineWithSquare.Clear 1
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 2
push this 2
call BasedSquare.getSquareX 1
push constant 16
sub
push this 2
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
push this 3
push this 3
call BasedSquare.getSquareX 1
push this 3
call BasedSquare.getSquareY 1
push constant 16
add
call BasedSquare.setSquare 3
pop temp 0
push this 4
push this 4
call BasedSquare.getSquareX 1
push this 4
call BasedSquare.getSquareY 1
push constant 16
add
call BasedSquare.setSquare 3
pop temp 0
push this 5
push this 5
call BasedSquare.getSquareX 1
push this 5
call BasedSquare.getSquareY 1
push constant 16
add
call BasedSquare.setSquare 3
pop temp 0
push pointer 0
call LineWithSquare.CanDrawFigure 1
push constant 0
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 2
push this 2
call BasedSquare.getSquareX 1
push constant 16
add
push this 2
call BasedSquare.getSquareY 1
call BasedSquare.setSquare 3
pop temp 0
push this 3
push this 3
call BasedSquare.getSquareX 1
push this 3
call BasedSquare.getSquareY 1
push constant 16
sub
call BasedSquare.setSquare 3
pop temp 0
push this 4
push this 4
call BasedSquare.getSquareX 1
push this 4
call BasedSquare.getSquareY 1
push constant 16
sub
call BasedSquare.setSquare 3
pop temp 0
push this 5
push this 5
call BasedSquare.getSquareX 1
push this 5
call BasedSquare.getSquareY 1
push constant 16
sub
call BasedSquare.setSquare 3
pop temp 0
label IF_FALSE7
label IF_FALSE6
push constant 0
return
function LineWithSquare.fall 7
push argument 0
pop pointer 0
call Speed.new 0
pop local 2
call MovementTime.new 0
pop local 0
label WHILE_EXP0
push local 0
call MovementTime.getMovementTime 1
push constant 0
gt
not
if-goto WHILE_END0
push local 0
call MovementTime.Minus 1
pop temp 0
call Keyboard.keyPressed 0
pop local 1
push local 1
push constant 131
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
call Position.TurnRight 1
pop temp 0
push pointer 0
call LineWithSquare.TurnRightLineWithSquare 1
pop temp 0
push local 0
call MovementTime.setZero 1
pop temp 0
push local 2
call Speed.getSpeed 1
call Sys.wait 1
pop temp 0
label IF_FALSE0
push local 1
push constant 133
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
call Position.TurnLeft 1
pop temp 0
push pointer 0
call LineWithSquare.TurnLeftLineWithSquare 1
pop temp 0
push local 0
call MovementTime.setZero 1
pop temp 0
push local 2
call Speed.getSpeed 1
call Sys.wait 1
pop temp 0
label IF_FALSE1
push local 1
push constant 132
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call LineWithSquare.MoveRight 1
pop temp 0
push local 0
call MovementTime.setZero 1
pop temp 0
push local 2
call Speed.getSpeed 1
call Sys.wait 1
pop temp 0
label IF_FALSE2
push local 1
push constant 130
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call LineWithSquare.MoveLeft 1
pop temp 0
push local 0
call MovementTime.setZero 1
pop temp 0
push local 2
call Speed.getSpeed 1
call Sys.wait 1
pop temp 0
label IF_FALSE3
goto WHILE_EXP0
label WHILE_END0
push this 0
push constant 0
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 1
call Position.GetPosition 1
push constant 0
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 16384
push this 2
call BasedSquare.getSquareY 1
push constant 16
add
push constant 32
call Math.multiply 2
add
push this 2
call BasedSquare.getSquareX 1
push constant 16
call Math.divide 2
add
pop local 3
push constant 16384
push this 3
call BasedSquare.getSquareY 1
push constant 16
add
push constant 32
call Math.multiply 2
add
push this 3
call BasedSquare.getSquareX 1
push constant 16
call Math.divide 2
add
pop local 4
push constant 16384
push this 4
call BasedSquare.getSquareY 1
push constant 16
add
push constant 32
call Math.multiply 2
add
push this 4
call BasedSquare.getSquareX 1
push constant 16
call Math.divide 2
add
pop local 5
push local 2
call Speed.getSpeed 1
call Sys.wait 1
pop temp 0
push local 3
call Memory.peek 1
push constant 0
gt
push local 3
call Memory.peek 1
push constant 0
eq
or
push local 4
call Memory.peek 1
push constant 0
gt
push local 4
call Memory.peek 1
push constant 0
eq
or
and
push local 5
call Memory.peek 1
push constant 0
gt
push local 5
call Memory.peek 1
push constant 0
eq
or
and
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
call LineWithSquare.Clear 1
pop temp 0
push pointer 0
call LineWithSquare.fallToPixels 1
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call LineWithSquare.printLineWithSquare 1
pop temp 0
push pointer 0
call LineWithSquare.fall 1
pop temp 0
label IF_FALSE6
label IF_FALSE5
push this 1
call Position.GetPosition 1
push constant 1
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 16384
push this 4
call BasedSquare.getSquareY 1
push constant 16
add
push constant 32
call Math.multiply 2
add
push this 4
call BasedSquare.getSquareX 1
push constant 16
call Math.divide 2
add
pop local 5
push constant 16384
push this 2
call BasedSquare.getSquareY 1
push constant 16
add
push constant 32
call Math.multiply 2
add
push this 2
call BasedSquare.getSquareX 1
push constant 16
call Math.divide 2
add
pop local 3
push local 2
call Speed.getSpeed 1
call Sys.wait 1
pop temp 0
push local 3
call Memory.peek 1
push constant 0
gt
push local 3
call Memory.peek 1
push constant 0
eq
or
push local 5
call Memory.peek 1
push constant 0
gt
push local 5
call Memory.peek 1
push constant 0
eq
or
and
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push pointer 0
call LineWithSquare.Clear 1
pop temp 0
push pointer 0
call LineWithSquare.fallToPixels 1
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call LineWithSquare.printLineWithSquare 1
pop temp 0
push pointer 0
call LineWithSquare.fall 1
pop temp 0
label IF_FALSE8
label IF_FALSE7
push this 1
call Position.GetPosition 1
push constant 2
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push constant 16384
push this 2
call BasedSquare.getSquareY 1
push constant 16
add
push constant 32
call Math.multiply 2
add
push this 2
call BasedSquare.getSquareX 1
push constant 16
call Math.divide 2
add
pop local 3
push constant 16384
push this 4
call BasedSquare.getSquareY 1
push constant 16
add
push constant 32
call Math.multiply 2
add
push this 4
call BasedSquare.getSquareX 1
push constant 16
call Math.divide 2
add
pop local 5
push constant 16384
push this 5
call BasedSquare.getSquareY 1
push constant 16
add
push constant 32
call Math.multiply 2
add
push this 5
call BasedSquare.getSquareX 1
push constant 16
call Math.divide 2
add
pop local 6
push local 2
call Speed.getSpeed 1
call Sys.wait 1
pop temp 0
push local 3
call Memory.peek 1
push constant 0
gt
push local 3
call Memory.peek 1
push constant 0
eq
or
push local 5
call Memory.peek 1
push constant 0
gt
push local 5
call Memory.peek 1
push constant 0
eq
or
and
push local 6
call Memory.peek 1
push constant 0
gt
push local 6
call Memory.peek 1
push constant 0
eq
or
and
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push pointer 0
call LineWithSquare.Clear 1
pop temp 0
push pointer 0
call LineWithSquare.fallToPixels 1
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call LineWithSquare.printLineWithSquare 1
pop temp 0
push pointer 0
call LineWithSquare.fall 1
pop temp 0
label IF_FALSE10
label IF_FALSE9
push this 1
call Position.GetPosition 1
push constant 3
eq
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push constant 16384
push this 5
call BasedSquare.getSquareY 1
push constant 16
add
push constant 32
call Math.multiply 2
add
push this 5
call BasedSquare.getSquareX 1
push constant 16
call Math.divide 2
add
pop local 6
push constant 16384
push this 2
call BasedSquare.getSquareY 1
push constant 16
add
push constant 32
call Math.multiply 2
add
push this 2
call BasedSquare.getSquareX 1
push constant 16
call Math.divide 2
add
pop local 3
push local 2
call Speed.getSpeed 1
call Sys.wait 1
pop temp 0
push local 3
call Memory.peek 1
push constant 0
gt
push local 3
call Memory.peek 1
push constant 0
eq
or
push local 6
call Memory.peek 1
push constant 0
gt
push local 6
call Memory.peek 1
push constant 0
eq
or
and
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push pointer 0
call LineWithSquare.Clear 1
pop temp 0
push pointer 0
call LineWithSquare.fallToPixels 1
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call LineWithSquare.printLineWithSquare 1
pop temp 0
push pointer 0
call LineWithSquare.fall 1
pop temp 0
label IF_FALSE12
label IF_FALSE11
push constant 0
return
label IF_FALSE4
push constant 0
pop this 0
push pointer 0
call LineWithSquare.fall 1
pop temp 0
push constant 0
return
function LineWithSquare.fallToPixels 1
push argument 0
pop pointer 0
call CountPixelsMove.new 0
pop local 0
push this 2
push this 2
call BasedSquare.getSquareX 1
push this 2
call BasedSquare.getSquareY 1
push local 0
call CountPixelsMove.getCountPixelsMove 1
add
call BasedSquare.setSquare 3
pop temp 0
push this 3
push this 3
call BasedSquare.getSquareX 1
push this 3
call BasedSquare.getSquareY 1
push local 0
call CountPixelsMove.getCountPixelsMove 1
add
call BasedSquare.setSquare 3
pop temp 0
push this 4
push this 4
call BasedSquare.getSquareX 1
push this 4
call BasedSquare.getSquareY 1
push local 0
call CountPixelsMove.getCountPixelsMove 1
add
call BasedSquare.setSquare 3
pop temp 0
push this 5
push this 5
call BasedSquare.getSquareX 1
push this 5
call BasedSquare.getSquareY 1
push local 0
call CountPixelsMove.getCountPixelsMove 1
add
call BasedSquare.setSquare 3
pop temp 0
push constant 0
return
function LineWithSquare.printLineWithSquare 0
push argument 0
pop pointer 0
push this 2
call BasedSquare.printSquare 1
pop temp 0
push this 3
call BasedSquare.printSquare 1
pop temp 0
push this 4
call BasedSquare.printSquare 1
pop temp 0
push this 5
call BasedSquare.printSquare 1
pop temp 0
push constant 0
return
function LineWithSquare.MoveRight 0
push argument 0
pop pointer 0
push constant 0
not
pop this 0
push pointer 0
call LineWithSquare.Clear 1
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 2
push this 2
call BasedSquare.getSquareX 1
push constant 16
add
push this 2
call BasedSquare.getSquareY 1
push constant 16
add
call BasedSquare.setSquare 3
pop temp 0
push this 3
push this 3
call BasedSquare.getSquareX 1
push constant 16
add
push this 3
call BasedSquare.getSquareY 1
push constant 16
add
call BasedSquare.setSquare 3
pop temp 0
push this 4
push this 4
call BasedSquare.getSquareX 1
push constant 16
add
push this 4
call BasedSquare.getSquareY 1
push constant 16
add
call BasedSquare.setSquare 3
pop temp 0
push this 5
push this 5
call BasedSquare.getSquareX 1
push constant 16
add
push this 5
call BasedSquare.getSquareY 1
push constant 16
add
call BasedSquare.setSquare 3
pop temp 0
push pointer 0
call LineWithSquare.CanDrawFigure 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 2
push this 2
call BasedSquare.getSquareX 1
push constant 16
sub
push this 2
call BasedSquare.getSquareY 1
push constant 16
sub
call BasedSquare.setSquare 3
pop temp 0
push this 3
push this 3
call BasedSquare.getSquareX 1
push constant 16
sub
push this 3
call BasedSquare.getSquareY 1
push constant 16
sub
call BasedSquare.setSquare 3
pop temp 0
push this 4
push this 4
call BasedSquare.getSquareX 1
push constant 16
sub
push this 4
call BasedSquare.getSquareY 1
push constant 16
sub
call BasedSquare.setSquare 3
pop temp 0
push this 5
push this 5
call BasedSquare.getSquareX 1
push constant 16
sub
push this 5
call BasedSquare.getSquareY 1
push constant 16
sub
call BasedSquare.setSquare 3
pop temp 0
push constant 0
pop this 0
label IF_FALSE0
push pointer 0
call LineWithSquare.printLineWithSquare 1
pop temp 0
push constant 0
return
function LineWithSquare.MoveLeft 0
push argument 0
pop pointer 0
push constant 0
not
pop this 0
push pointer 0
call LineWithSquare.Clear 1
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 2
push this 2
call BasedSquare.getSquareX 1
push constant 16
sub
push this 2
call BasedSquare.getSquareY 1
push constant 16
add
call BasedSquare.setSquare 3
pop temp 0
push this 3
push this 3
call BasedSquare.getSquareX 1
push constant 16
sub
push this 3
call BasedSquare.getSquareY 1
push constant 16
add
call BasedSquare.setSquare 3
pop temp 0
push this 4
push this 4
call BasedSquare.getSquareX 1
push constant 16
sub
push this 4
call BasedSquare.getSquareY 1
push constant 16
add
call BasedSquare.setSquare 3
pop temp 0
push this 5
push this 5
call BasedSquare.getSquareX 1
push constant 16
sub
push this 5
call BasedSquare.getSquareY 1
push constant 16
add
call BasedSquare.setSquare 3
pop temp 0
push pointer 0
call LineWithSquare.CanDrawFigure 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 2
push this 2
call BasedSquare.getSquareX 1
push constant 16
add
push this 2
call BasedSquare.getSquareY 1
push constant 16
sub
call BasedSquare.setSquare 3
pop temp 0
push this 3
push this 3
call BasedSquare.getSquareX 1
push constant 16
add
push this 3
call BasedSquare.getSquareY 1
push constant 16
sub
call BasedSquare.setSquare 3
pop temp 0
push this 4
push this 4
call BasedSquare.getSquareX 1
push constant 16
add
push this 4
call BasedSquare.getSquareY 1
push constant 16
sub
call BasedSquare.setSquare 3
pop temp 0
push this 5
push this 5
call BasedSquare.getSquareX 1
push constant 16
add
push this 5
call BasedSquare.getSquareY 1
push constant 16
sub
call BasedSquare.setSquare 3
pop temp 0
push constant 0
pop this 0
label IF_FALSE0
push pointer 0
call LineWithSquare.printLineWithSquare 1
pop temp 0
push constant 0
return
function LineWithSquare.Clear 0
push argument 0
pop pointer 0
push this 2
call BasedSquare.clear 1
pop temp 0
push this 3
call BasedSquare.clear 1
pop temp 0
push this 4
call BasedSquare.clear 1
pop temp 0
push this 5
call BasedSquare.clear 1
pop temp 0
push constant 0
return
function LineWithSquare.CanDrawFigure 0
push argument 0
pop pointer 0
push this 2
call BasedSquare.CanDraw 1
push constant 0
not
eq
push this 3
call BasedSquare.CanDraw 1
push constant 0
not
eq
and
push this 4
call BasedSquare.CanDraw 1
push constant 0
not
eq
and
push this 5
call BasedSquare.CanDraw 1
push constant 0
not
eq
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
