function Main.main 2
push constant 16
push constant 15
call Point.new 2
pop local 1
push local 1
call BasedSquare.new 1
pop local 0
push local 0
call BasedSquare.getSquareX 1
call Output.printInt 1
pop temp 0
push constant 0
return
