function PrintLineWithSquare.print 9
push argument 0
pop pointer 0
push argument 1
push argument 2
call Point.new 2
pop local 1
push local 1
call BasedSquare.new 1
pop local 0
push argument 2
push constant 10
add
pop argument 2
push argument 1
push argument 2
call Point.new 2
pop local 3
push local 3
call BasedSquare.new 1
pop local 2
push argument 1
push constant 10
add
pop argument 1
push argument 1
push argument 2
call Point.new 2
pop local 5
push local 5
call BasedSquare.new 1
pop local 4
push argument 1
push constant 20
sub
pop argument 1
push argument 1
push argument 2
call Point.new 2
pop local 7
push local 7
call BasedSquare.new 1
pop local 6
push local 0
push local 2
push local 4
push local 6
call LineWithSquare.new 4
pop local 8
push local 8
call LineWithSquare.printLineWithSquare 1
pop temp 0
push constant 0
return
